/* Google font link */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Montserrat:wght@100;200;300;400;500;600;700&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');


/* Global variables */

:root{
    --main: #ff0000;
    --black: #000;
    --white: #fff;
}

*::selection{
    background: var(--main);
    color: var(--white) !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
    scroll-behavior: smooth;
    font-family: "STIX Two Text", serif;
    transition:  .3s;
}

#preloader{
    background: var(--black) url(../img/loader.gif) no-repeat center center ;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 2000;
    background-size: 19%;
}


body{
    background: linear-gradient(rgb(24, 22, 22), #6a6d6e);

}

.btn{
    background: var(--main);
    width: 150px;
    border-radius: 10px;
    color: #fff !important;
    font-weight: bold;
    margin: 5px 5px;
}

.btn:hover{
    letter-spacing: 3px;
}

.content{
    display: flex;
    justify-content: space-between;
}

.content h5{
    font-weight: bold;
    font-size: 35px;
    color: #fff !important;
}

.content a{
    font-weight: bold;
    color: #fff !important;
    transition: .3s ease-in-out;
}

.content a:hover{
    letter-spacing: 2px;
    color: var(--main) !important;

}




html::-webkit-scrollbar-thumb{
    background: var(--main);
}

html::-webkit-scrollbar{
    width: 10px;
}

html::-webkit-scrollbar-track{
    background: rgb(82, 65, 65);
}

/* Navbar section start */

.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    transition: 1s ease-in-out;
    position: relative;
    z-index: 1000; 
}



.navbar-brand{
    font-weight: 600;
    font-size: 2em;
    padding-left: 100px;
    padding-right: 290px;
    color: #fff !important;
}

.navbar-brand span{
    font-weight: 800;
    font-size: 1.5em;
    color: var(--main) !important;

}



.navbar-nav {
    padding-right: 35px;
}

.sell, 
.buy{
    background: var(--main);
    color: var(--white);
    border-radius: 5px;
    transition: .3s ease-in-out;
    width: 55px;
}

.sell:hover, 
.buy:hover{
    background: transparent;
}




.navbar .nav-link{
    color: #fff !important;
    font-weight: bold;
    margin-left: 29px;
    cursor: pointer;
}

.navbar .nav-item .active{
    background-color: var(--main);
    border-radius: 5px;
}

.navbar .btn{
    background-color: var(--main);
    width: 90%;
    border-radius: 5px;
}

/* Navbar section end */











/* Header section start */

.header{
    padding: 50px;
}

.header .row{
    position: relative;
    margin-top: 50px;
}

.header .col-sm-5{
    z-index: 2;
}

.header .col-sm-7 img{
    margin-left: 5rem;
}

.header .text-section h3{
    font-weight: 600;
    font-size: 56px;
    color: #fff !important;
    margin-bottom: 30px;

}

.header .text-section h3 span{
    font-size: 1.5em !important;
    color: var(--main);
    font-weight: 800;
}

.header .text-section p{
    color: #fff !important;
}

.header .img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: var(--black);
    opacity: .3;
}



/* Header section end */














/* Popular car section start */

.popular{
    margin: 200px auto;
    margin-top: 21rem;

}

.popular .row{
    margin-top: 2rem;
    margin-bottom: 50px;
}

.popular .box{

    box-shadow: 10px 10px 10px -10px 
    rgba(0, 0, 0, 0.2), inset 10px 
    10px 10px -10px rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-bottom: 3rem;
    border-radius: 20px;
    height: 200px;
    width: 250px;
    transition: .5s ease-in-out;
}


.popular .box:hover{
    background: linear-gradient(45deg, #423738, #5c5353);
    cursor: pointer;
}

.popular .box_content h6{
    font-weight: 600;
    font-size: 15px;
    color: #ccc;
}



/* Popular car section end */













/* Offer section start */

.offer{
    margin-bottom: 200px;
}


.offer .row{
    margin: 10px auto; 
}

.offer .box {
    background: rgb(124, 125, 124);
    padding: 20px;
    border-radius: 20px;
    transition: .8s ease-in-out;
    color: #fff !important;
    cursor: pointer;
}

.offer .box .btn{
    width: 300px;
}

.offer .box:hover{
    background: #000;
}

.offer .last{
    margin: 50px auto;
}

.offer .box-content h6{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    margin: 10px auto;
}
/* Offer section end */










/* Latest car section start */

.latest_car{
    margin-bottom: 200px auto;
}

.latest_car .box{
    background: rgb(124, 125, 124);
    padding: 20px;
    border-radius: 20px;
    transition: .8s ease-in-out;
    color: #fff !important;
    cursor: pointer;
    text-align: center;
    height: 400px;
    width: 350px;
}

.latest_car .box:hover{
    background-color: #000;
}



.latest_car .row{
    margin: 50px auto;
}

.latest_car .btn{
    width: 200px;
}

.latest_car .box_content{
    margin: 5px auto;
}





/* Latest car section end */







/* Car parts section start */

.car_parts{
    margin-left: 50px;
    position: relative;
}

.car_parts .custom_car_parts{
    padding: 40px;
    background: rgb(72, 68, 68);
    margin-top: 5rem;
    height: 300px;
    border-radius: 10px;
    
}


.car_parts .box{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
}

.car_parts .box img{
   height: 220px;
   width: 350px !important;
  
}

.car_parts .carousel-control-prev{
   opacity: .8;
   height: 32px;
   width: 32px;
   border-radius: 50%;
   background: rgb(73, 70, 70);
   outline: none;
   align-items: center;
   padding: 10px;
   margin: 150px 10px;
   

}

.car_parts .carousel-control-next{
    opacity: .8;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: rgb(73, 70, 70);
    outline: none;
    align-items: center;
    padding: 10px;
    margin: 150px 10px;
   
    transition: 1s ease-in-out;
}

.car_parts .carousel-control-prev:hover,
.car_parts .carousel-control-next:hover{
    background: #000;
}

.car_parts .carousel-item .box h4{
    font-weight: bold;
    color: #ccc;
    font-size: 50px;
    margin: 20px auto;
}


.car_parts .carousel-item .box p{
    font-weight: bold;
    color: #ccc;
    font-size: 12px;
}


.car_parts .carousel-item .box .btn{
    width: 200px;
    border-radius: 10px;
    letter-spacing: 2px;
}


.car_parts .carousel-item .custom-box{
    box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.2),
    inset 10px 10px 10px -10px rgba(0, 0, 0, 0.7);
    margin-top: 15px;
    padding: 30px;
    color: #fff !important;
    text-align: center;
    border-radius: 20px;
}


.car_parts .carousel-item .custom-box .svgContent h6 span{
    font-weight: 800;
    color: #ff0000;
    font-size: 1.1em;
}

.car_parts .carousel-item .custom-box .svgContent h6{
    font-weight: 600;
    font-size: 1em;
}


/* Car parts section end */


















/* Car parts section start */

.car_parts{
    margin-bottom: 200px;

}

/* Car parts section end */














/* Latest new section start */

.latest_news{
    margin-bottom: 200px;
}


.latest_news .box{
    background: rgb(72, 68, 68);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    height: 400px;
    margin-top: 50px;
}


.latest_news .box:hover{
    background: var(--black);
}


.latest_news .boxcontent{
    margin: 10px auto;
    color: var(--white);
}

.latest_news .boxcontent h6{
    font-weight: bold;
    font-size: 25px;
}

.latest_news .boxcontent p{
    font-weight: bold;
    font-size: 12px;
}
/* Latest new section end */











/* Testimonials section start */

.testimonials{
    margin-bottom: 200px;
}


.testimonials .box{
    box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5),
    inset 10px 10px 10px -10px rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 20px;
    background: #5c5353;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    text-align: center;
    transition: .5s ease-in-out;
    color: var(--white);

}

.testimonials .box:hover{
    background-color: var(--black);
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}

.testimonials .box img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}


.testimonials .box p{
    font-weight: 600;
    font-size: 12px;
}

.testimonials .box .fas{
    font-size: 30px;
    color: var(--main);
}


.testimonials .box h6{
    font-weight: bold;
    font-size: 25px;
}

.testimonials .mid{
    margin-top: 100px;
}



/* Testimonials section end */





/* Location section start */

.our_location h5{
    margin-left: 4.5rem;
    font-weight: bold;
    font-size: 45px !important;
    color: #fff !important;
}




iframe{
    width: 100%;
}



/* Location section end */









/* Footer section start */


footer{
    background: var(--black);
    text-align: center;
    padding: 40px;
}

.contact-info{
    float: left;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding-left: 45rem;
    background-color: var(--black);
    padding-top: 55px;
    padding-bottom: 55px;
}

.contact-icon i{
    color: var(--main);
    border: 1px solid var(--main);
    border-radius: 50%;
    line-height: 50px;
    font-size: 26px;
    width: 50px;
    margin-left: -15rem;
}


.contact-info p{
    width: 295px;
    color: white;
    margin-top: 15px;

}

.contact-info a{
    color: white !important;
    text-decoration: none !important;
    list-style: none !important;
    
}

.contact-detail{
    margin-left: -10rem;
    
}


footer p{
    font-weight: bold;
    color: #fff !important;
    text-decoration: none !important;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social-links a,
.footer-popular-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
}

.footer-social-links a:hover,
.footer-popular-links a:hover {
    color: #ff0000; /* Change color on hover */
}

/* Footer section end */



